table {
    width: 100%;
    
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
    
  }
  
  td, th {
    width: 10%;
  }

 .image{
    height: 60px;
    width: 60px;
    border-radius: 30px;
    margin: 20px;
 }

 .nodata{
    text-align: center;
    padding: 25px;
    font-size: 25px;
 }