.sideImage{
    height: 100vh;
    width: 80vh;
    padding: 50px;
    background-size: cover;
}
.bg-clr{
    background-color: black;
}
.picon{
    font-size: 25px; 
}
.Loginmargintop{
    margin-top: 20%;
}
.star{
    color: red;
    font-size: 20px;
    font-weight: 600;
}
label{
    font-weight: 500;
    color: grey;
}
.loginbtn{
    width: 100%;
    border-radius: 30px;
    color: black;
    font-weight: 600;
    padding: 12px;
}
.inputBox{
    height: 50px;
}

.form-switch .form-check-input {
    height: 22px;
    width: 46px;
    
}

.form-switch .form-check-input:checked {
    background-color: #c4eb2a;
    border-color: #c4eb2a;
    border: none;
   // background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(255,255,255,1.0)'/></svg>");
}

.passwordIcon{
   border-width: 0px;
   background-color: white;
   position: relative;
   left: 91%;
   line-height: 40px;
   cursor: pointer;
   bottom: 45px;
   color: rgb(145, 142, 142);
}

