<!-- <div class="container mt-3">
    <div class="row">
        <div class="col">
            <h5>{{child}}:</h5>
            <small>This data is comming from parent and Showing in Child Component.</small>
            <h5>User Name: {{userData?.name}}</h5>
            <h5>User Work: {{userData?.work}}</h5>
            
            <button class="btn btn-warning me-2" (click)="emitEvent()">Click Here</button>
            
            <button class="btn btn-warning me-2" (click)="sendMsg()">Click Here</button>
            
            <button class="btn btn-warning" (click)="emitObjEvent()">Click Here</button>
            
            <h6>{{messageFromParent}}</h6>
            
            <button class="btn btn-info" (click)="sendServiceMsg()">Send Message to Parent</button>
            
            <h3>Data: {{subData$|async}}</h3>

            <hr>
           <h5>Name is {{nameData}} and Score is {{scoreData}}<b></b></h5>
           <h5>Object: Name is {{ObjInput?.name}} and Score is {{ObjInput?.score}}<b></b></h5>

           
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Score</th>
                    </tr>
                </thead>
               
                    <tbody>
                        @for (item of listarray; track $index) {
                        <tr>
                            <td>{{item.name}}</td>
                            <td>{{item.score}}</td>
                        </tr>
                    }
                    </tbody>
            </table>
        
        </div>
    </div>
</div> -->


<hr>
